@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,600&display=swap');

:root {
    --customGray: #DAE0E6;
    --filterBGC: linear-gradient(180deg, rgba(45,135,209,1) 35%, rgba(39,143,186,0.742734593837535) 100%);
    --viewerBGC: linear-gradient(180deg, rgba(45,135,209,1) 35%, rgba(39,120,186,0.7175245098039216) 100%);
    --searchBGC: linear-gradient(180deg, rgba(10,119,209,0.9920343137254902) 35%, rgba(15,70,226,1) 100%);
    --brightBlue: #0F46E2;
}

.flashcard-viewer {
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    margin-left: 2vw;
    background: var(--viewerBGC);
    border-radius: 1vw;
}

.sidebar {
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-menu {
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--filterBGC);
    padding: 4%;
    border-radius: 1vw;
}

.filter-menu-header {
    color: white;
    margin: 0;
}

.search-section {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background: var(--searchBGC);
    text-align: center;
    color: white;
    border-radius: 1vw;
    justify-content: space-around;
    align-items: center;
    font-weight: 200;
}

.search-section-header {
    font-weight: 400;
    margin: 0;
    font-size: 1.5vw;
}

.search-input {
    width: 60%;
    border: none;
    border-bottom: 0.1vw solid white;
    background-color: var(--searchBGC);
    outline: none;
    font-size: 1vw;
}

.search-input::placeholder {
    color: lightblue;
    font-weight: 200;
}

.search-btn {
    width: 20%;
    height: 10%;
    background-color: var(--brightBlue);
    border-radius: 1vw;
    color: white;
    outline: none;
    font-size: 50%;
    border-bottom: 0.1vw solid white;
}

.singular, .plural {
    font-weight: 400;
}

.card {
    width: 95%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    border-radius: 1vw;
    position: relative;
    transition: 0.1s;
}

.front-card {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.back-card {
    color: white;
    background-color: var(--brightBlue);
    border-color: aliceblue;
}

.word-area {
    display: flex;
    flex-direction: column;
    height: 80%;
}

#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif
}

.button {
    width: 40%;
    height: 10%;
    margin: 1vh 0;
    font-weight: 400;
    font-size: 2vw;
    outline: none;
    border: none;
    border-radius: 3vw;
}

.button-front {
    background-color: aliceblue;
    color: black;
}

.button-back {
    background-color: #0F46E2;
    color: lightblue;
}

.word {
    text-align: center;
}

.page-header {
    text-align: center;
    color: lightblue;
    font-weight: 200;
    font-size: 2vw;
}

.choose-mode {
    color: white;
    margin-bottom: 1vh;
    font-weight: 400;
    font-size: 2vw;
}

.flashcard-viewer select {
    background-color: var(--brightBlue);
    width: 30%;
    height: 7%;
    text-align: center;
    outline: none;
    font-size: 1vw;
    color: white;
    font-weight: 200;
}

.plural-input {
    width: 60%;
    height: 5%;
    margin: 1vh 0;
    outline: none;
    padding-left: 1vw;
    background-color: var(--viewerBGC);
    border: none;
    border-bottom: 0.1vh solid white;
    color: white;
    font-size: 1vw;
}

.plural-input::placeholder{
    color: lightblue;
    font-size: 1vw;
    font-weight: 200;
}

.check-btn {
    width: 20%;
    height: 4%;
    background-color: var(--brightBlue);
    border-radius: 1vw;
    color: white;
    outline: none;
}

.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header-container {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vw;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    background-color: var(--customGray);
}

.page-footer {
    background-color: white;
    height: 5%;
    width: 100%;
    color: black;
    font-weight: 200;
    font-size: 1vw;
    display: flex;
    align-items: center;
    padding: 1vw;
    box-sizing: border-box;
    justify-content: space-between;
}

.footer-link {
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0 0.5vw;
}

.source-code-link {
    color: darkblue;
    font-weight: 600;
    text-decoration: none;
    margin: 0 0.5vw;
}

.source-code-link:visited {
    color: darkblue;
    font-weight: 400;
}

.footer-link:visited {
    color: black;
}

.developed-by {
    color: darkblue;
}

.developed-by.name {
    font-weight: 600;
}

.to-show {
    font-size: 4vw;
    font-weight: 200;
    justify-self: start;

}

.translation {
    font-size: 2.5vw;
    font-weight: 400;
}

.description {
    color: black;
    font-weight: 200;
    font-size: 1.5vw;
}

.logo-part {
    display: flex;
    align-items: center;
}

.logo-text {
    color: var(--brightBlue);
    font-size: 4vw;
    font-weight: 200;
}

.german-flag {
    opacity: 0.8;
    width: 80px;
    height: 80px;
}

.filter-input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 9%;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
    font-size: 2vw;
    font-weight: 200;
    background-color: var(--filterBGC);
}

.filter-input::placeholder {
    color: lightblue;
    font-size: 1vw;
}

.filter-name {
    font-weight: 400;
    color: aliceblue;
}

.keyboard {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.keyboard-img {
    opacity: 0.5;
}

.keyboard-img:hover {
    opacity: 1;
}

.keyboard-hover{
    background-color: darkblue;
    width: 10vw;
    height: 3vh;
    font-size: 30%;
    position: absolute;
    top: 30px;
    right: 0;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-info {
    position: absolute;
    bottom: 6vh;
    right: 0;
    width: 10vw;
    height: 8vh;
    background-color: lightblue;
    border: 0.1vw solid darkblue;
    display: flex;
    flex-direction: column;
}

.keyboard-point {
    height: 50%;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

.action {
    font-weight: 200;
    color: black;
}

.key {
    color: darkblue;
    font-weight: 600;
}


.input-guessing {
    background-color: white;
}

.input-guessed {
    background-color: #73e86e;
}

.input-failed {
    background-color: #f87157;
}
